<div>
    <h2>
        <span>Proj Logs</span>
        <button class="btn btn-primary float-right create-proj-log" [routerLink]="['/', { outlets: { popup: ['proj-log-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Proj Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="projLogs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="record_id"><span>Record Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="log_type"><span>Log Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="created_by"><span>Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="created_date"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="action"><span>Action</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="is_deleted"><span>Is Deleted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="project.id"><span>Project</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let projLog of projLogs ;trackBy: trackId">
                <td><a [routerLink]="['../proj-log', projLog.id ]">{{projLog.id}}</a></td>
                <td>{{projLog.record_id}}</td>
                <td>{{projLog.log_type}}</td>
                <td>{{projLog.description}}</td>
                <td>{{projLog.created_by}}</td>
                <td>{{projLog.created_date | date:'mediumDate'}}</td>
                <td>{{projLog.action}}</td>
                <td>{{projLog.is_deleted}}</td>
                <td>
                    <div *ngIf="projLog.project">
                        <a [routerLink]="['../project', projLog.project?.id ]" >{{projLog.project?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../proj-log', projLog.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'proj-log/'+ projLog.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'proj-log/'+ projLog.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
