
<div *ngIf="projLog">
    <h2><span>Proj Log</span> {{projLog.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Record Id</span></dt>
        <dd>
            <span>{{projLog.record_id}}</span>
        </dd>
        <dt><span>Log Type</span></dt>
        <dd>
            <span>{{projLog.log_type}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{projLog.description}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{projLog.created_by}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{projLog.created_date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Action</span></dt>
        <dd>
            <span>{{projLog.action}}</span>
        </dd>
        <dt><span>Is Deleted</span></dt>
        <dd>
            <span>{{projLog.is_deleted}}</span>
        </dd>
        <dt><span>Project</span></dt>
        <dd>
            <div *ngIf="projLog.project">
                <a [routerLink]="['/project', projLog.project?.id]">{{projLog.project?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'proj-log/'+ projLog.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
