<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProjLogLabel">Create or edit a Proj Log</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!projLog.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="projLog.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_record_id">Record Id</label>
            <input type="number" class="form-control" name="record_id" id="field_record_id"
                [(ngModel)]="projLog.record_id"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_log_type">Log Type</label>
            <input type="text" class="form-control" name="log_type" id="field_log_type"
                [(ngModel)]="projLog.log_type"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="projLog.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_created_by">Created By</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                [(ngModel)]="projLog.created_by"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_created_date">Created Date</label>
            <div class="input-group">
                <input id="field_created_date" type="text" class="form-control" name="created_date" ngbDatepicker  #created_dateDp="ngbDatepicker" [(ngModel)]="projLog.created_date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="created_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_action">Action</label>
            <input type="text" class="form-control" name="action" id="field_action"
                [(ngModel)]="projLog.action"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_is_deleted">Is Deleted</label>
            <input type="number" class="form-control" name="is_deleted" id="field_is_deleted"
                [(ngModel)]="projLog.is_deleted"  />
        </div>

        <div class="form-group">
            <label for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="projLog.project" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === projLog.project?.id ? projLog.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
