
<div *ngIf="clarification">
    <h2><span>Clarification</span> {{clarification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <button type="submit"
            [routerLink]="['../../project',clarification.project.id]"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'clarification/'+ clarification.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
    <hr>
    <dl class="row-md jh-entity-details" style="columns:3">
        <dt><span>Project</span></dt>
        <dd>
            <div *ngIf="clarification.project">
                <a [routerLink]="['/project', clarification.project?.id]">{{clarification.project?.name}}</a>
            </div>
        </dd>
        <dt><span>Component</span></dt>
        <dd>
            <div *ngIf="clarification.comp">
                <a [routerLink]="['/comp', clarification.comp?.id]">{{clarification.comp?.name}}</a>
            </div>
        </dd>
        <dt><span>Clarification Date</span></dt>
        <dd>
            <span>{{clarification.cl_date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{clarification.status}}</span>
        </dd>
        <dt><span>Priority</span></dt>
        <dd>
            <span>{{clarification.priority}}</span>
        </dd>
        <dt><span>Classification</span></dt>
        <dd>
            <span>{{clarification.classification}}</span>
        </dd>
        <dt><span>Assigned To</span></dt>
        <dd>
            <span>{{clarification.assigned_to}}</span>
        </dd>
        <dt><span>Date Closed</span></dt>
        <dd>
            <span>{{clarification.date_closed | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{clarification.description}}</span>
        </dd>
        <dt><span>Resolution</span></dt>
        <dd>
            <span>{{clarification.resolution}}</span>
        </dd>
        <dt><span>Remarks</span></dt>
        <dd>
            <span>{{clarification.remarks}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{clarification.created_by}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{clarification.created_date | date:'mediumDate'}}</span>
        </dd>
        <dt *ngIf="clarification.modified_by !== null"><span>Last Modified By</span></dt>
        <dd *ngIf="clarification.modified_by !== null">
            <span>{{clarification.modified_by}}</span>
        </dd>
        <dt *ngIf="clarification.modified_by !== null"><span>Last Modified Date</span></dt>
        <dd *ngIf="clarification.modified_by !== null">
            <span>{{clarification.modified_date | date:'mediumDate'}}</span>
        </dd>
    </dl>
    <hr>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>Project History</b></h3></span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center">Seq ID</th>
                        <th class="text-center">Log Date</th>
                        <th class="text-center">Log Type</th>
                        <th class="text-center">Record ID</th>
				        <th class="text-center">Action</th>
				        <th class="text-center">Created By</th>
				        <th class="text-center">Description</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let logEntry of history | orderBy: 'created_date'; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{logEntry.created_date | date:'yyyy/MM/dd'}}</td>
                        <td>{{logEntry.log_type}}</td>
                        <td>{{logEntry.record_id}}</td>
                        <td>{{logEntry.action}}</td>
                        <td>{{logEntry.created_by}}</td>
                        <td>{{logEntry.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
