<div>
    <h2>
        <span>Clarifications</span>
        <button class="btn btn-primary float-right create-clarification" [routerLink]="['/', { outlets: { popup: ['clarification-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Clarification
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clarifications">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cl_date"><span>Cl Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="priority"><span>Priority</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="classification"><span>Classification</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="assigned_to"><span>Assigned To</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="resolution"><span>Resolution</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="remarks"><span>Remarks</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date_closed"><span>Date Closed</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="created_by"><span>Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="created_date"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modified_by"><span>Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modified_date"><span>Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="is_deleted"><span>Is Deleted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comp.id"><span>Comp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="project.id"><span>Project</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let clarification of clarifications ;trackBy: trackId">
                <td><a [routerLink]="['../clarification', clarification.id ]">{{clarification.id}}</a></td>
                <td>{{clarification.cl_date | date:'mediumDate'}}</td>
                <td>{{clarification.status}}</td>
                <td>{{clarification.priority}}</td>
                <td>{{clarification.classification}}</td>
                <td>{{clarification.assigned_to}}</td>
                <td>{{clarification.description}}</td>
                <td>{{clarification.resolution}}</td>
                <td>{{clarification.remarks}}</td>
                <td>{{clarification.date_closed | date:'mediumDate'}}</td>
                <td>{{clarification.created_by}}</td>
                <td>{{clarification.created_date | date:'mediumDate'}}</td>
                <td>{{clarification.modified_by}}</td>
                <td>{{clarification.modified_date | date:'mediumDate'}}</td>
                <td>{{clarification.is_deleted}}</td>
                <td>
                    <div *ngIf="clarification.comp">
                        <a [routerLink]="['../comp', clarification.comp?.id ]" >{{clarification.comp?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="clarification.project">
                        <a [routerLink]="['../project', clarification.project?.id ]" >{{clarification.project?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../clarification', clarification.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clarification/'+ clarification.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'clarification/'+ clarification.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
