<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClarificationLabel">Clarification</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="true">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clarification.id" readonly />
        </div>
        <div class="form-group col-md-5">
            <label for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="clarification.project" [disabled]="clarification.project" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === clarification.project?.id ? clarification.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <label for="field_comp">Comp</label>
            <select class="form-control" id="field_comp" name="comp" [(ngModel)]="clarification.comp" [disabled]="isEdit">
                <option [ngValue]="null"></option>
                <option [ngValue]="compOption.id === clarification.comp?.id ? clarification.comp : compOption" *ngFor="let compOption of projComps">{{compOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cl_date">Clarification Date</label>
            <div class="input-group">
                <input id="field_cl_date" type="text" class="form-control" name="cl_date" ngbDatepicker  #cl_dateDp="ngbDatepicker" [(ngModel)]="clarification.cl_date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="cl_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_status">Status</label>
            <select class="form-control" name="status" id="field_status"
                [(ngModel)]="clarification.status"  >
                <option *ngFor="let status of statuses" [ngValue]="status">{{status}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_priority">Priority</label>
            <select class="form-control" name="priority" id="field_priority"
                [(ngModel)]="clarification.priority"  >
                <option *ngFor="let p of priorities" [ngValue]="p">{{p}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_classification">Classification</label>
            <select class="form-control" name="classification" id="field_classification"
                [(ngModel)]="clarification.classification"  >
                <option *ngFor="let c of classifications" [ngValue]="c">{{c}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_assigned_to">Assigned To</label>
            <input type="text" class="form-control" name="assigned_to" id="field_assigned_to"
                [(ngModel)]="clarification.assigned_to"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_date_closed">Date Closed</label>
            <div class="input-group">
                <input id="field_date_closed" type="text" class="form-control" name="date_closed" ngbDatepicker  #date_closedDp="ngbDatepicker" [(ngModel)]="clarification.date_closed"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="date_closedDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="form-control-label" for="field_description">Description</label>
            <textarea rows="5" cols="10" class="form-control" name="description" id="field_description"
                [(ngModel)]="clarification.description"  ></textarea>
        </div>
        <div class="form-group col-md-12">
            <label class="form-control-label" for="field_resolution">Resolution</label>
            <textarea rows="5" cols="10" class="form-control" name="resolution" id="field_resolution"
                [(ngModel)]="clarification.resolution"  ></textarea>
        </div>
        <div class="form-group col-md-12">
            <label class="form-control-label" for="field_remarks">Remarks</label>
            <textarea rows="5" cols="10" class="form-control" name="remarks" id="field_remarks"
                [(ngModel)]="clarification.remarks"  ></textarea>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_created_by">Created By</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                [(ngModel)]="clarification.created_by" [disabled]="true" />
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_created_date">Created Date</label>
            <div class="input-group">
                <input id="field_created_date" type="text" class="form-control" name="created_date" ngbDatepicker  #created_dateDp="ngbDatepicker" [(ngModel)]="clarification.created_date"
                [disabled]="true"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="created_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-5" [hidden]="!isEdit">
            <label class="form-control-label" for="field_modified_by">Modified By</label>
            <input type="text" class="form-control" name="modified_by" id="field_modified_by"
                [(ngModel)]="clarification.modified_by" [disabled]="true" />
        </div>
        <div class="form-group col-md-5" [hidden]="!isEdit">
            <label class="form-control-label" for="field_modified_date">Modified Date</label>
            <div class="input-group">
                <input id="field_modified_date" type="text" class="form-control" name="modified_date" ngbDatepicker  #modified_dateDp="ngbDatepicker" [(ngModel)]="clarification.modified_date"
                [disabled]="true"/>
                <span class="input-group-btn" [hidden]="true">
                    <button type="button" class="btn btn-default" (click)="modified_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group" [hidden]="true">
            <label class="form-control-label" for="field_is_deleted">Is Deleted</label>
            <input type="number" class="form-control" name="is_deleted" id="field_is_deleted"
                [(ngModel)]="clarification.is_deleted"  />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
