<div class="container-fluid">
    <h2>My Review Tasks</h2>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-inverse">
                <th></th>
                <th class="text-center">ID</th>
                <th class="text-center">Project Name</th>
                <th class="text-center">Component Name</th>
                <th class="text-center">Budget At Completion</th>
                <th class="text-center">Baseline Start</th>
                <th class="text-center">Baseline Finish</th>
                <th class="text-center">Actual Cost</th>
                <th class="text-center">Actual Start</th>
                <th class="text-center">Actual Finish</th>
                <th class="text-center">Developer</th>
                <th class="text-center">Reviewer</th>
                <th class="text-center">Status</th>
            </thead>
            <tbody>
                <tr *ngFor="let task of reviews | orderBy: 'created_date'" [hidden]="task.is_deleted === 1 || task.status === 'On Hold'">
                    <td>
                        <button type="submit"
                                [routerLink]="['../comp', task.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                    </td>
                    <td>{{task.id}}</td>
                    <td>{{task.project.name}}</td>
                    <td>{{task.name}}</td>
                    <td>{{task.budget_at_completion}}</td>
                    <td>{{task.baseline_start | date: 'yyyy/MM/dd'}}</td>
                    <td>{{task.baseline_finish | date: 'yyyy/MM/dd'}}</td>
                    <td>{{task.actual_cost}}</td>
                    <td>{{task.actual_start}}</td>
                    <td>{{task.actual_finish}}</td>
                    <td>{{task.developer}}</td>
                    <td>{{task.reviewer}}</td>
                    <td>{{task.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>