
<div *ngIf="project">
    <h2><span>Project : </span> {{project.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="container-fluid">
        <button type="button"
            [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary col-1">
            <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
        </button>
        <button class="btn btn-primary col-2" [routerLink]="['/', { outlets: { popup: ['comp-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Component
            </span>
        </button>
        <button class="btn btn-primary col-2" [routerLink]="['/', { outlets: { popup: ['unit-test-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Test
            </span>
        </button>
        <button class="btn btn-primary col-2" [routerLink]="['/', { outlets: { popup: ['pointsheet-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Review Point
            </span>
        </button>
        <button class="btn btn-primary col-2" [routerLink]="['/', { outlets: { popup: ['risk-and-issues-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Risk/Issue
            </span>
        </button>
        <button class="btn btn-primary col-2" [routerLink]="['/', { outlets: { popup: ['clarification-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Clarification
            </span>
        </button>
    </div>
    <hr>
    <h3>Project Details</h3>
    <dl class="row-md jh-entity-details" style="columns:4">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{project.name}}</span>
        </dd>
        <dt><span>Team</span></dt>
        <dd>
            <span>{{project.team}}</span>
        </dd>
        <dt><span>Planned Start</span></dt>
        <dd>
            <span>{{project.planned_start | date:'yyyy/MM/dd'}}</span>
        </dd>
        <dt><span>Planned Finish</span></dt>
        <dd>
            <span>{{project.planned_finish | date:'yyyy/MM/dd'}}</span>
        </dd>
        <dt><span>Actual Start</span></dt>
        <dd>
            <span>{{project.actual_start | date:'yyyy/MM/dd'}}</span>
        </dd>
        <dt><span>Actual Finish</span></dt>
        <dd>
            <span>{{project.actual_finish | date:'yyyy/MM/dd'}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{project.status}}</span>
        </dd>
        <dt><span>TD Date</span></dt>
        <dd>
            <span>{{project.td_date | date:'yyyy/MM/dd'}}</span>
        </dd>
        <dt><span>BAC TD Walkthrough</span></dt>
        <dd>
            <span>{{project.bac_td_walkthrough}}</span>
        </dd>
        <dt><span>BAC TD Analysis</span></dt>
        <dd>
            <span>{{project.bac_td_analysis}}</span>
        </dd>
        <dt><span>BAC UTP</span></dt>
        <dd>
            <span>{{project.bac_utp}}</span>
        </dd>
        <dt><span>BAC UT Execution</span></dt>
        <dd>
            <span>{{project.bac_ut_execution}}</span>
        </dd>
        <dt><span>BAC UTPlan Review</span></dt>
        <dd>
            <span>{{project.bac_utplan_review}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{project.created_by}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{project.created_date | date:'yyyy/MM/dd'}}</span>
        </dd>
        <dt><span>Modified By</span></dt>
        <dd>
            <span>{{project.modified_by}}</span>
        </dd>
        <dt><span>Modified Date</span></dt>
        <dd>
            <span>{{project.modified_date | date:'yyyy/MM/dd'}}</span>
        </dd>
    </dl>
    <hr>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>Components</b></h3></span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
				        <th class="text-center">&nbsp;</th>
				        <th class="text-center">ID</th>
				        <th class="text-center">Component Name</th>
				        <th class="text-center">Budget at Completion</th>
				        <th class="text-center">Baseline Start</th>
				        <th class="text-center">Baseline Finish</th>
				        <th class="text-center">Actual Cost</th>
				        <th class="text-center">Actual Start</th>
				        <th class="text-center">Actual Finish</th>
				        <th class="text-center">Developer</th>
				        <th class="text-center">Reviewer</th>
				        <th class="text-center">Status</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let comp of project.comps | orderBy: 'created_date';trackBy: trackId" [hidden]="comp.is_deleted == 1">
                        <td class="btn-group">
                            <button type="submit"
                            [routerLink]="['../../comp', comp.id]"
                            replaceUrl="true"
                            class="btn btn-sm btn-info">
                            <span class="fa fa-info"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'comp/'+ comp.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-sm btn-primary">
                            <span class="fa fa-pencil"></span>
                            </button>
                            <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comp/'+ comp.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </button>
                        </td>
                        <td>{{comp.id}}</td>
                        <td>{{comp.name}}</td>
                        <td>{{comp.budget_at_completion}}</td>
                        <td>{{comp.baseline_start | date:'yyyy/MM/dd'}}</td>
                        <td>{{comp.baseline_finish | date:'yyyy/MM/dd'}}</td>
                        <td>{{comp.actual_cost}}</td>
                        <td>{{comp.actual_start | date:'yyyy/MM/dd'}}</td>
                        <td>{{comp.actual_finish | date:'yyyy/MM/dd'}}</td>
                        <td>{{comp.developer}}</td>
                        <td>{{comp.reviewer}}</td>
                        <td>{{comp.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>Test Scenarios</b></h3></span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
				        <th class="text-center">&nbsp;</th>
                        <th class="text-center">ID</th>
                        <th class="text-center">Component Name</th>
                        <th class="text-center">Scenario ID</th>
                        <th class="text-center">Condition ID</th>
				        <th class="text-center">Test Scenario</th>
				        <th class="text-center">Test Condition</th>
				        <th class="text-center">Actions</th>
				        <th class="text-center">Input Data</th>
                        <th class="text-center">Expected Result</th>
                        <th class="text-center">Status</th>
				        <th class="text-center">Execution Date</th>
				        <th class="text-center">Evidences</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let test of project.unitTests | orderBy: 'created_date'" [hidden]="test.is_deleted == 1">
                        <td class="btn-group">
                            <button type="submit"
                            [routerLink]="['../../unit-test', test.id]"
                            replaceUrl="true"
                            class="btn btn-info btn-sm">
                            <span class="fa fa-info"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'unit-test/'+ test.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'unit-test/'+ test.id + '/delete'} }]"
                            replaceUrl="true"
                            class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            </button>
                        </td>
                        <td>{{test.id}}</td>
                        <td>{{test.comp.name}}</td>
                        <td>{{test.scenario_id}}</td>
                        <td>{{test.condition_id}}</td>
                        <td>{{test.test_scenario}}</td>
                        <td>{{test.test_condition}}</td>
                        <td>{{test.actions}}</td>
                        <td>{{test.input_data}}</td>
                        <td>{{test.expected_result}}</td>
                        <td>{{test.execution_status}}</td>
                        <td>{{test.execution_date | date:'yyyy/MM/dd'}}</td>
                        <td>{{test.evidences}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>Review Points</b></h3></span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
				        <th class="text-center">&nbsp;</th>
                        <th class="text-center">ID</th>
                        <th class="text-center">Component Name</th>
                        <th class="text-center">Pointsheet Type</th>
                        <th class="text-center">Inspection Point</th>
				        <th class="text-center">Defect Type</th>
				        <th class="text-center">Severity</th>
				        <th class="text-center">Actions Taken</th>
				        <th class="text-center">Status</th>
                        <th class="text-center">Possible Root Cause</th>
                        <th class="text-center">Suggestion for Avoidance</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pointsheet of project.pointsheets | orderBy: 'created_date'" [hidden]="pointsheet.is_deleted == 1">
                        <td class="btn-group">
                            <button type="submit"
                            [routerLink]="['../../pointsheet', pointsheet.id]"
                            replaceUrl="true"
                            class="btn btn-info btn-sm">
                            <span class="fa fa-info"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'pointsheet/'+ pointsheet.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'pointsheet/'+ pointsheet.id + '/delete'} }]"
                            replaceUrl="true"
                            class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            </button>
                        </td>
                        <td>{{pointsheet.id}}</td>
                        <td>{{pointsheet.comp.name}}</td>
                        <td>{{pointsheet.pointsheet_type}}</td>
                        <td>{{pointsheet.inspection_point}}</td>
                        <td>{{pointsheet.defect_type}}</td>
                        <td>{{pointsheet.severity}}</td>
                        <td>{{pointsheet.action_taken}}</td>
                        <td>{{pointsheet.status}}</td>
                        <td>{{pointsheet.possible_root_cause}}</td>
                        <td>{{pointsheet.suggestion_for_avoidance}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>Risk And Issues</b></h3></span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
				        <th class="text-center">&nbsp;</th>
                        <th class="text-center">ID</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Source</th>
				        <th class="text-center">Priority</th>
				        <th class="text-center">Impact</th>
				        <th class="text-center">Status</th>
				        <th class="text-center">Severity</th>
                        <th class="text-center">Probability of Occurence</th>
                        <th class="text-center">Mitigation/Contingency Plan</th>
				        <th class="text-center">Due Date</th>
				        <th class="text-center">Remarks</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ri of project.riskAndIssues | orderBy: 'created_date'" [hidden]="ri.is_deleted == 1">
                        <td class="btn-group">
                            <button type="submit"
                            [routerLink]="['../../risk-and-issues', ri.id]"
                            replaceUrl="true"
                            class="btn btn-info btn-sm">
                            <span class="fa fa-info"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'risk-and-issues/'+ ri.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'risk-and-issues/'+ ri.id + '/delete'} }]"
                            replaceUrl="true"
                            class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            </button>
                        </td>
                        <td>{{ri.id}}</td>
                        <td>{{ri.rec_type}}</td>
                        <td>{{ri.description}}</td>
                        <td>{{ri.source}}</td>
                        <td>{{ri.priority}}</td>
                        <td>{{ri.impact}}</td>
                        <td>{{ri.status}}</td>
                        <td>{{ri.severity}}</td>
                        <td>{{ri.probability_percent}}</td>
                        <td *ngIf="ri.mitigation_plan">{{ri.mitigation_plan}}</td>
                        <td *ngIf="ri.contingency_plan">{{ri.contingency_plan}}</td>
                        <td *ngIf="ri.mitigation_due_date">{{ri.mitigation_due_date}}</td>
                        <td *ngIf="ri.contingency_due_date">{{ri.contingency_due_date}}</td>
                        <td>{{ri.remarks}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>Clarifications</b></h3></span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
				        <th class="text-center">&nbsp;</th>
                        <th class="text-center">ID</th>
                        <th class="text-center">CL Date</th>
                        <th class="text-center">Component Name</th>
                        <th class="text-center">Status</th>
				        <th class="text-center">Classification</th>
				        <th class="text-center">Assigned To</th>
				        <th class="text-center">Description</th>
				        <th class="text-center">Resolution</th>
                        <th class="text-center">Remarks</th>
                        <th class="text-center">Date Closed</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of project.clarifications | orderBy: 'created_date'" [hidden]="c.is_deleted == 1">
                        <td class="btn-group">
                            <button type="submit"
                            [routerLink]="['../../clarification', c.id]"
                            replaceUrl="true"
                            class="btn btn-info btn-sm">
                            <span class="fa fa-info"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'clarification/'+ c.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'clarification/'+ c.id + '/delete'} }]"
                            replaceUrl="true"
                            class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            </button>
                        </td>
                        <td>{{c.id}}</td>
                        <td>{{c.cl_date | date:'yyyy/MM/dd'}}</td>
                        <td>{{c.comp.name}}</td>
                        <td>{{c.status}}</td>
                        <td>{{c.classification}}</td>
                        <td>{{c.assigned_to}}</td>
                        <td>{{c.description}}</td>
                        <td>{{c.resolution}}</td>
                        <td>{{c.remarks}}</td>
                        <td>{{c.date_closed | date:'yyyy/MM/dd'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>Project History</b></h3></span>
        <div class="table-responsive pre-scrollable">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center">Seq ID</th>
                        <th class="text-center">Log Date</th>
                        <th class="text-center">Log Type</th>
                        <th class="text-center">Record ID</th>
				        <th class="text-center">Action</th>
				        <th class="text-center">Created By</th>
				        <th class="text-center">Description</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let logEntry of project.projLogs | orderBy: 'record_id'; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{logEntry.created_date | date:'yyyy/MM/dd'}}</td>
                        <td>{{logEntry.log_type}}</td>
                        <td>{{logEntry.record_id}}</td>
                        <td>{{logEntry.action}}</td>
                        <td>{{logEntry.created_by}}</td>
                        <td>{{logEntry.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="submit"
            routerLink="/project"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
