<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProjectLabel">Project</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="true">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="project.id" readonly />
        </div>
        <div class="form-group col-md-53">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="project.name"  />
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="field_team">Team</label>
            <select class="form-control" name="team" id="field_team"
                [(ngModel)]="project.team" [disabled]="isEdit" >
                <option *ngFor="let team of ['Oracle', 'Java', 'C++', '.Net', 'ETL']" [ngValue]="team">{{team}}</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="field_status">Status</label>
            <select class="form-control" name="status" id="field_status"
                [(ngModel)]="project.status"  >
                <option *ngFor="let status of ['New', 'Analyze', 'Build', 'Delivered']" [ngValue]="status">{{status}}</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_planned_start">Planned Start</label>
            <div class="input-group">
                <input id="field_planned_start" type="text" class="form-control" name="planned_start" ngbDatepicker  #planned_startDp="ngbDatepicker" [(ngModel)]="project.planned_start"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="planned_startDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_planned_finish">Planned Finish</label>
            <div class="input-group">
                <input id="field_planned_finish" type="text" class="form-control" name="planned_finish" ngbDatepicker  #planned_finishDp="ngbDatepicker" [(ngModel)]="project.planned_finish"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="planned_finishDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_actual_start">Actual Start</label>
            <div class="input-group">
                <input id="field_actual_start" type="text" class="form-control" name="actual_start" ngbDatepicker  #actual_startDp="ngbDatepicker" [(ngModel)]="project.actual_start"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="actual_startDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_actual_finish">Actual Finish</label>
            <div class="input-group">
                <input id="field_actual_finish" type="text" class="form-control" name="actual_finish" ngbDatepicker  #actual_finishDp="ngbDatepicker" [(ngModel)]="project.actual_finish"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="actual_finishDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="field_td_date">TD Date</label>
            <div class="input-group">
                <input id="field_td_date" type="text" class="form-control" name="td_date" ngbDatepicker  #td_dateDp="ngbDatepicker" [(ngModel)]="project.td_date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="td_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="field_bac_td_walkthrough">BAC TD Walkthrough</label>
            <input type="number" class="form-control" name="bac_td_walkthrough" id="field_bac_td_walkthrough"
                [(ngModel)]="project.bac_td_walkthrough"  />
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="field_bac_td_analysis">BAC TD Analysis</label>
            <input type="number" class="form-control" name="bac_td_analysis" id="field_bac_td_analysis"
                [(ngModel)]="project.bac_td_analysis"  />
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="field_bac_td_analysis">BAC UTP</label>
            <input type="number" class="form-control" name="bac_td_analysis" id="field_bac_td_analysis"
                [(ngModel)]="project.bac_td_analysis"  />
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_bac_ut_execution">BAC UT Execution</label>
            <input type="number" class="form-control" name="bac_ut_execution" id="field_bac_ut_execution"
                [(ngModel)]="project.bac_ut_execution"  />
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_bac_utplan_review">BAC UTPlan Review</label>
            <input type="number" class="form-control" name="bac_utplan_review" id="field_bac_utplan_review"
                [(ngModel)]="project.bac_utplan_review"  />
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_created_by">Created By</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                [(ngModel)]="project.created_by"  [disabled]="true"/>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_created_date">Created Date</label>
            <div class="input-group">
                <input id="field_created_date" type="text" class="form-control" name="created_date" ngbDatepicker  #created_dateDp="ngbDatepicker" [(ngModel)]="project.created_date"
                [disabled]="true"/>
                <span class="input-group-btn" [hidden]="true">
                    <button type="button" class="btn btn-default" (click)="created_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-5" [hidden]="!isEdit">
            <label class="form-control-label" for="field_modified_by">Modified By</label>
            <input type="text" class="form-control" name="modified_by" id="field_modified_by"
                [(ngModel)]="project.modified_by" [disabled]="true" />
        </div>
        <div class="form-group col-md-5" [hidden]="!isEdit">
            <label class="form-control-label" for="field_modified_date">Modified Date</label>
            <div class="input-group">
                <input id="field_modified_date" type="text" class="form-control" name="modified_date" ngbDatepicker  #modified_dateDp="ngbDatepicker" [(ngModel)]="project.modified_date"
                [disabled]="true" />
                <span class="input-group-btn" [hidden]="true">
                    <button type="button" class="btn btn-default" (click)="modified_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group" [hidden]="true">
            <label class="form-control-label" for="field_is_deleted">Is Deleted</label>
            <input type="number" class="form-control" name="is_deleted" id="field_is_deleted"
                [(ngModel)]="project.is_deleted"  />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
