
<div *ngIf="riskAndIssues">
    <h2><span>Risk/Issues</span> {{riskAndIssues.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <button type="submit"
            [routerLink]="['../../project',riskAndIssues.project.id]"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'risk-and-issues/'+ riskAndIssues.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
    <hr>
    <dl class="row-md jh-entity-details" style="columns:3">
        <dt><span>Project</span></dt>
        <dd>
            <div *ngIf="riskAndIssues.project">
                <a [routerLink]="['/project', riskAndIssues.project?.id]">{{riskAndIssues.project?.name}}</a>
            </div>
        </dd>
        <dt><span>Record Type</span></dt>
        <dd>
            <span>{{riskAndIssues.rec_type}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{riskAndIssues.description}}</span>
        </dd>
        <dt><span>Source</span></dt>
        <dd>
            <span>{{riskAndIssues.source}}</span>
        </dd>
        <dt><span>Priority</span></dt>
        <dd>
            <span>{{riskAndIssues.priority}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{riskAndIssues.status}}</span>
        </dd>
        <dt><span>Severity</span></dt>
        <dd>
            <span>{{riskAndIssues.severity}}</span>
        </dd>
        <dt><span>Response</span></dt>
        <dd>
            <span>{{riskAndIssues.resp}}</span>
        </dd>
        <dt><span>Probability Percent</span></dt>
        <dd>
            <span>{{riskAndIssues.probability_percent}}</span>
        </dd>
        <dt><span>Date Occured</span></dt>
        <dd>
            <span>{{riskAndIssues.date_occured | date:'mediumDate'}}</span>
        </dd>
        <dt *ngIf="riskAndIssues.rec_type == 'Issue'"><span>Mitigation Plan</span></dt>
        <dd *ngIf="riskAndIssues.rec_type == 'Issue'">
            <span>{{riskAndIssues.mitigation_plan}}</span>
        </dd>
        <dt *ngIf="riskAndIssues.rec_type == 'Issue'"><span>Mitigation Due Date</span></dt>
        <dd *ngIf="riskAndIssues.rec_type == 'Issue'">
            <span>{{riskAndIssues.mitigation_due_date | date:'mediumDate'}}</span>
        </dd>
        <dt *ngIf="riskAndIssues.rec_type == 'Risk'"><span>Contingency Plan</span></dt>
        <dd *ngIf="riskAndIssues.rec_type == 'Risk'">
            <span>{{riskAndIssues.contingency_plan}}</span>
        </dd>
        <dt *ngIf="riskAndIssues.rec_type == 'Risk'"><span>Contingency Due Date</span></dt>
        <dd *ngIf="riskAndIssues.rec_type == 'Risk'">
            <span>{{riskAndIssues.contingency_due_date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Impact</span></dt>
        <dd>
            <span>{{riskAndIssues.impact}}</span>
        </dd>
        <dt><span>Remarks</span></dt>
        <dd>
            <span>{{riskAndIssues.remarks}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{riskAndIssues.created_by}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{riskAndIssues.created_date | date:'mediumDate'}}</span>
        </dd>
        <dt *ngIf="riskAndIssues.modified_by !== null"><span>Last Modified By</span></dt>
        <dd *ngIf="riskAndIssues.modified_by !== null">
            <span>{{riskAndIssues.modified_by}}</span>
        </dd>
        <dt *ngIf="riskAndIssues.modified_by !== null"><span>Last Modified Date</span></dt>
        <dd *ngIf="riskAndIssues.modified_by !== null">
            <span>{{riskAndIssues.modified_date | date:'mediumDate'}}</span>
        </dd>
    </dl>
    <hr>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>Project History</b></h3></span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center">Seq ID</th>
                        <th class="text-center">Log Date</th>
                        <th class="text-center">Log Type</th>
                        <th class="text-center">Record ID</th>
				        <th class="text-center">Action</th>
				        <th class="text-center">Created By</th>
				        <th class="text-center">Description</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let logEntry of history | orderBy: 'record_id'; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{logEntry.created_date | date:'yyyy/MM/dd'}}</td>
                        <td>{{logEntry.log_type}}</td>
                        <td>{{logEntry.record_id}}</td>
                        <td>{{logEntry.action}}</td>
                        <td>{{logEntry.created_by}}</td>
                        <td>{{logEntry.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
