<div>
    <h2>
        <span>Risk And Issues</span>
        <button class="btn btn-primary float-right create-risk-and-issues" [routerLink]="['/', { outlets: { popup: ['risk-and-issues-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Risk And Issues
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="riskAndIssues">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rec_type"><span>Rec Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="source"><span>Source</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="priority"><span>Priority</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="severity"><span>Severity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="probability_percent"><span>Probability Percent</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mitigation_plan"><span>Mitigation Plan</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mitigation_due_date"><span>Mitigation Due Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contingency_plan"><span>Contingency Plan</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contingency_due_date"><span>Contingency Due Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="remarks"><span>Remarks</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="created_by"><span>Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="created_date"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modified_by"><span>Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modified_date"><span>Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="is_deleted"><span>Is Deleted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="resp"><span>Resp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date_occured"><span>Date Occured</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="impact"><span>Impact</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="project.id"><span>Project</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let riskAndIssues of riskAndIssues ;trackBy: trackId">
                <td><a [routerLink]="['../risk-and-issues', riskAndIssues.id ]">{{riskAndIssues.id}}</a></td>
                <td>{{riskAndIssues.rec_type}}</td>
                <td>{{riskAndIssues.description}}</td>
                <td>{{riskAndIssues.source}}</td>
                <td>{{riskAndIssues.priority}}</td>
                <td>{{riskAndIssues.status}}</td>
                <td>{{riskAndIssues.severity}}</td>
                <td>{{riskAndIssues.probability_percent}}</td>
                <td>{{riskAndIssues.mitigation_plan}}</td>
                <td>{{riskAndIssues.mitigation_due_date | date:'mediumDate'}}</td>
                <td>{{riskAndIssues.contingency_plan}}</td>
                <td>{{riskAndIssues.contingency_due_date | date:'mediumDate'}}</td>
                <td>{{riskAndIssues.remarks}}</td>
                <td>{{riskAndIssues.created_by}}</td>
                <td>{{riskAndIssues.created_date | date:'mediumDate'}}</td>
                <td>{{riskAndIssues.modified_by}}</td>
                <td>{{riskAndIssues.modified_date | date:'mediumDate'}}</td>
                <td>{{riskAndIssues.is_deleted}}</td>
                <td>{{riskAndIssues.resp}}</td>
                <td>{{riskAndIssues.date_occured | date:'mediumDate'}}</td>
                <td>{{riskAndIssues.impact}}</td>
                <td>
                    <div *ngIf="riskAndIssues.project">
                        <a [routerLink]="['../project', riskAndIssues.project?.id ]" >{{riskAndIssues.project?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../risk-and-issues', riskAndIssues.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'risk-and-issues/'+ riskAndIssues.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'risk-and-issues/'+ riskAndIssues.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
