<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRiskAndIssuesLabel">Risk/Issue</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="true">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="riskAndIssues.id" readonly />
        </div>
        <div class="form-group col-md-3">
            <label for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="riskAndIssues.project" [disabled]="riskAndIssues.project" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === riskAndIssues.project?.id ? riskAndIssues.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label class="form-control-label" for="field_rec_type">Record Type</label>
            <select class="form-control" name="rec_type" id="field_rec_type"
                [(ngModel)]="riskAndIssues.rec_type"  >
                <option *ngFor="let recType of ['Risk', 'Issue']" [ngValue]="recType">{{recType}}</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="riskAndIssues.description"  />
        </div>
        <div class="form-group col-md-34">
            <label class="form-control-label" for="field_source">Source</label>
            <select class="form-control" name="source" id="field_source"
                [(ngModel)]="riskAndIssues.source"  >
                <option *ngFor="let source of sources" [ngValue]="source">{{source}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label class="form-control-label" for="field_priority">Priority</label>
            <select class="form-control" name="priority" id="field_priority"
                [(ngModel)]="riskAndIssues.priority" style="width:105px;">
                <option *ngFor="let p of priorities" [ngValue]="p">{{p}}</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="field_status">Status</label>
            <select class="form-control" name="status" id="field_status"
                [(ngModel)]="riskAndIssues.status"  >
                <option *ngFor="let status of statuses" [ngValue]="status">{{status}}</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="field_severity">Severity</label>
            <select class="form-control" name="severity" id="field_severity"
                [(ngModel)]="riskAndIssues.severity" >
                <option *ngFor="let sev of severities" [ngValue]="sev">{{sev}}</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="field_resp">Response</label>
            <select class="form-control" name="resp" id="field_resp"
                [(ngModel)]="riskAndIssues.resp"  >
                <option *ngFor="let r of responses" [ngValue]="r">{{r}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label class="form-control-label" for="field_probability_percent">Probability Percent</label>
            <select class="form-control" name="probability_percent" id="field_probability_percent"
                [(ngModel)]="riskAndIssues.probability_percent" >
                <option *ngFor="let prob of probPercent" [ngValue]="prob">{{prob}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_date_occured">Date Occured</label>
            <div class="input-group">
                <input id="field_date_occured" type="text" class="form-control" name="date_occured" ngbDatepicker  #date_occuredDp="ngbDatepicker" [(ngModel)]="riskAndIssues.date_occured"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="date_occuredDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-12" *ngIf="riskAndIssues.rec_type == 'Issue'">
            <label class="form-control-label" for="field_mitigation_plan">Mitigation Plan</label>
            <textarea rows="5" cols="10" type="text" class="form-control" name="mitigation_plan" id="field_mitigation_plan"
                [(ngModel)]="riskAndIssues.mitigation_plan"  ></textarea>
        </div>
        <div class="form-group" *ngIf="riskAndIssues.rec_type == 'Issue'">
            <label class="form-control-label" for="field_mitigation_due_date">Mitigation Due Date</label>
            <div class="input-group">
                <input id="field_mitigation_due_date" type="text" class="form-control" name="mitigation_due_date" ngbDatepicker  #mitigation_due_dateDp="ngbDatepicker" [(ngModel)]="riskAndIssues.mitigation_due_date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="mitigation_due_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-12" *ngIf="riskAndIssues.rec_type == 'Risk'">
            <label class="form-control-label" for="field_contingency_plan">Contingency Plan</label>
            <textarea rows="5" cols="10" type="text" class="form-control" name="contingency_plan" id="field_contingency_plan"
                [(ngModel)]="riskAndIssues.contingency_plan"  ></textarea>
        </div>
        <div class="form-group" *ngIf="riskAndIssues.rec_type == 'Risk'"> 
            <label class="form-control-label" for="field_contingency_due_date">Contingency Due Date</label>
            <div class="input-group">
                <input id="field_contingency_due_date" type="text" class="form-control" name="contingency_due_date" ngbDatepicker  #contingency_due_dateDp="ngbDatepicker" [(ngModel)]="riskAndIssues.contingency_due_date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="contingency_due_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label class="form-control-label" for="field_impact">Impact</label>
            <textarea rows="5" cols="10" type="text" class="form-control" name="impact" id="field_impact"
                [(ngModel)]="riskAndIssues.impact"  ></textarea>
        </div>
        <div class="form-group col-md-12">
            <label class="form-control-label" for="field_remarks">Remarks</label>
            <textarea rows="5" cols="10" type="text" class="form-control" name="remarks" id="field_remarks"
                [(ngModel)]="riskAndIssues.remarks"  ></textarea>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_created_by">Created By</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                [(ngModel)]="riskAndIssues.created_by" [disabled]="true" />
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_created_date">Created Date</label>
            <div class="input-group">
                <input id="field_created_date" type="text" class="form-control" name="created_date" ngbDatepicker  #created_dateDp="ngbDatepicker" [(ngModel)]="riskAndIssues.created_date"
                [disabled]="true" />
                <span class="input-group-btn" [hidden]="true">
                    <button type="button" class="btn btn-default" (click)="created_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-5" [hidden]="!isEdit">
            <label class="form-control-label" for="field_modified_by">Modified By</label>
            <input type="text" class="form-control" name="modified_by" id="field_modified_by"
                [(ngModel)]="riskAndIssues.modified_by" [disabled]="true" />
        </div>
        <div class="form-group col-md-5" [hidden]="!isEdit">
            <label class="form-control-label" for="field_modified_date">Modified Date</label>
            <div class="input-group">
                <input id="field_modified_date" type="text" class="form-control" name="modified_date" ngbDatepicker  #modified_dateDp="ngbDatepicker" [(ngModel)]="riskAndIssues.modified_date"
                [disabled]="true" />
                <span class="input-group-btn" [hidden]="true">
                    <button type="button" class="btn btn-default" (click)="modified_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group" [hidden]="true">
            <label class="form-control-label" for="field_is_deleted">Is Deleted</label>
            <input type="number" class="form-control" name="is_deleted" id="field_is_deleted"
                [(ngModel)]="riskAndIssues.is_deleted"  />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
