
<div *ngIf="unitTest">
    <h2><span>Unit Test</span> {{unitTest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <button type="submit"
            [routerLink]="['../../project', unitTest.project.id]"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'unit-test/'+ unitTest.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
    <hr>
    <dl class="row-md jh-entity-details" style="columns:3">
        <dt><span>Project</span></dt>
        <dd>
            <div *ngIf="unitTest.project">
                <a [routerLink]="['/project', unitTest.project?.id]">{{unitTest.project?.name}}</a>
            </div>
        </dd>
        <dt><span>Component</span></dt>
        <dd>
            <div *ngIf="unitTest.comp">
                <a [routerLink]="['/comp', unitTest.comp?.id]">{{unitTest.comp?.name}}</a>
            </div>
        </dd>
        <dt><span>Scenario Id</span></dt>
        <dd>
            <span>{{unitTest.scenario_id}}</span>
        </dd>
        <dt><span>Condition Id</span></dt>
        <dd>
            <span>{{unitTest.condition_id}}</span>
        </dd>
        <dt><span>Test Scenario</span></dt>
        <dd>
            <span>{{unitTest.test_scenario}}</span>
        </dd>
        <dt><span>Test Condition</span></dt>
        <dd>
            <span>{{unitTest.test_condition}}</span>
        </dd>
        <dt><span>Actions</span></dt>
        <dd>
            <span>{{unitTest.actions}}</span>
        </dd>
        <dt><span>Input Data</span></dt>
        <dd>
            <span>{{unitTest.input_data}}</span>
        </dd>
        <dt><span>Expected Result</span></dt>
        <dd>
            <span>{{unitTest.expected_result}}</span>
        </dd>
        <dt><span>Execution Status</span></dt>
        <dd>
            <span>{{unitTest.execution_status}}</span>
        </dd>
        <dt><span>Execution Date</span></dt>
        <dd>
            <span>{{unitTest.execution_date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Evidences</span></dt>
        <dd>
            <span>{{unitTest.evidences}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{unitTest.created_by}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{unitTest.created_date | date:'mediumDate'}}</span>
        </dd>
        <dt *ngIf="unitTest.modified_by !== null"><span>Last Modified By</span></dt>
        <dd *ngIf="unitTest.modified_by !== null">
            <span>{{unitTest.modified_by}}</span>
        </dd>
        <dt *ngIf="unitTest.modified_by !== null"><span>Last Modified Date</span></dt>
        <dd *ngIf="unitTest.modified_by !== null">
            <span>{{unitTest.modified_date | date:'mediumDate'}}</span>
        </dd>
    </dl>
    <hr>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>Test History</b></h3></span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center">Seq ID</th>
                        <th class="text-center">Log Date</th>
                        <th class="text-center">Log Type</th>
                        <th class="text-center">Record ID</th>
				        <th class="text-center">Action</th>
				        <th class="text-center">Created By</th>
				        <th class="text-center">Description</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let logEntry of history | orderBy: 'created_date'; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{logEntry.created_date | date:'yyyy/MM/dd'}}</td>
                        <td>{{logEntry.log_type}}</td>
                        <td>{{logEntry.record_id}}</td>
                        <td>{{logEntry.action}}</td>
                        <td>{{logEntry.created_by}}</td>
                        <td>{{logEntry.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
