<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUnitTestLabel">Unit Test</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="true">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="unitTest.id" readonly />
        </div>
        <div class="form-group col-md-4">
            <label for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="unitTest.project" [disabled]="unitTest.project" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === unitTest.project?.id ? unitTest.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="field_comp">Component</label>
            <select class="form-control" id="field_comp" name="comp" [(ngModel)]="unitTest.comp" [disabled]="isEdit" >
                <option [ngValue]="null"></option>
                <option [ngValue]="compOption.id === unitTest.comp?.id ? unitTest.comp : compOption" *ngFor="let compOption of projComps">{{compOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_execution_status">Execution Status</label>
            <select class="form-control" name="execution_status" id="field_execution_status"
                [(ngModel)]="unitTest.execution_status"  >
                <option *ngFor="let status of ['New', 'In Progress', 'On Hold', 'Completed']" [ngValue]="status"
                [selected]="status == 'New'">{{status}}</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_scenario_id">Scenario ID</label>
            <input type="number" class="form-control" name="scenario_id" id="field_scenario_id"
                [(ngModel)]="unitTest.scenario_id"  />
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_condition_id">Condition ID</label>
            <input type="number" class="form-control" name="condition_id" id="field_condition_id"
                [(ngModel)]="unitTest.condition_id"  />
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_test_scenario">Test Scenario</label>
            <textarea rows="5" cols="5" class="form-control" name="test_scenario" id="field_test_scenario"
                [(ngModel)]="unitTest.test_scenario" ></textarea>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_test_condition">Test Condition</label>
            <textarea rows="5" cols="5" class="form-control" name="test_condition" id="field_test_condition"
                [(ngModel)]="unitTest.test_condition" ></textarea>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_actions">Actions</label>
            <textarea rows="5" cols="5" class="form-control" name="actions" id="field_actions"
                [(ngModel)]="unitTest.actions" ></textarea>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_input_data">Input Data</label>
            <textarea rows="5" cols="5" class="form-control" name="input_data" id="field_input_data"
                [(ngModel)]="unitTest.input_data" ></textarea>
        </div>
        <div class="form-group col-md-10">
            <label class="form-control-label" for="field_expected_result">Expected Result</label>
            <textarea rows="5" cols="10" class="form-control" name="expected_result" id="field_expected_result"
                [(ngModel)]="unitTest.expected_result" ></textarea>
        </div>
        <div class="col-md-5">
            <div class="form-group">
            <label class="form-control-label" for="field_execution_date">Execution Date</label>
            <div class="input-group">
                <input id="field_execution_date" type="text" class="form-control" name="execution_date" ngbDatepicker  #execution_dateDp="ngbDatepicker" [(ngModel)]="unitTest.execution_date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="execution_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            </div>
            <div class="form-group">
            <label class="form-control-label" for="field_evidences">Evidences</label>
            <input type="text" class="form-control" name="evidences" id="field_evidences"
                [(ngModel)]="unitTest.evidences"  />
            </div>
        </div>
        <div class="form-group" [hidden]="true">
            <label class="form-control-label" for="field_is_deleted">Is Deleted</label>
            <input type="number" class="form-control" name="is_deleted" id="field_is_deleted"
                [(ngModel)]="unitTest.is_deleted"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_created_by">Created By</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                [(ngModel)]="unitTest.created_by"  [disabled]="true"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_created_date">Created Date</label>
            <div class="input-group">
                <input id="field_created_date" type="text" class="form-control" name="created_date" ngbDatepicker  #created_dateDp="ngbDatepicker" [(ngModel)]="unitTest.created_date"
                [disabled]="true" />
                <span class="input-group-btn" [hidden]="isEdit">
                    <button type="button" class="btn btn-default" (click)="created_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group" [hidden]="!isEdit">
            <label class="form-control-label" for="field_modified_by">Modified By</label>
            <input type="text" class="form-control" name="modified_by" id="field_modified_by"
                [(ngModel)]="unitTest.modified_by"  />
        </div>
        <div class="form-group" [hidden]="!isEdit">
            <label class="form-control-label" for="field_modified_date">Modified Date</label>
            <div class="input-group">
                <input id="field_modified_date" type="text" class="form-control" name="modified_date" ngbDatepicker  #modified_dateDp="ngbDatepicker" [(ngModel)]="unitTest.modified_date"
                />
                <span class="input-group-btn" [hidden]="true">
                    <button type="button" class="btn btn-default" (click)="modified_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
