<div>
    <h2>
        <span>Unit Tests</span>
        <button class="btn btn-primary float-right create-unit-test" [routerLink]="['/', { outlets: { popup: ['unit-test-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Unit Test
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="unitTests">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Test Scenario</span></th>
            <th><span>Test Condition</span></th>
            <th><span>Actions</span></th>
            <th><span>Input Data</span></th>
            <th><span>Expected Result</span></th>
            <th><span>Execution Status</span></th>
            <th><span>Execution Date</span></th>
            <th><span>Evidences</span></th>
            <th><span>Scenario Id</span></th>
            <th><span>Condition Id</span></th>
            <th><span>Is Deleted</span></th>
            <th><span>Created By</span></th>
            <th><span>Created Date</span></th>
            <th><span>Modified By</span></th>
            <th><span>Modified Date</span></th>
            <th><span>Project</span></th>
            <th><span>Comp</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let unitTest of unitTests ;trackBy: trackId">
                <td><a [routerLink]="['../unit-test', unitTest.id ]">{{unitTest.id}}</a></td>
                <td>{{unitTest.test_scenario}}</td>
                <td>{{unitTest.test_condition}}</td>
                <td>{{unitTest.actions}}</td>
                <td>{{unitTest.input_data}}</td>
                <td>{{unitTest.expected_result}}</td>
                <td>{{unitTest.execution_status}}</td>
                <td>{{unitTest.execution_date | date:'mediumDate'}}</td>
                <td>{{unitTest.evidences}}</td>
                <td>{{unitTest.scenario_id}}</td>
                <td>{{unitTest.condition_id}}</td>
                <td>{{unitTest.is_deleted}}</td>
                <td>{{unitTest.created_by}}</td>
                <td>{{unitTest.created_date | date:'mediumDate'}}</td>
                <td>{{unitTest.modified_by}}</td>
                <td>{{unitTest.modified_date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="unitTest.project">
                        <a [routerLink]="['../project', unitTest.project?.id ]" >{{unitTest.project?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="unitTest.comp">
                        <a [routerLink]="['../comp', unitTest.comp?.id ]" >{{unitTest.comp?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../unit-test', unitTest.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'unit-test/'+ unitTest.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'unit-test/'+ unitTest.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
