<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCompLabel">Component</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group col-md-2" [hidden]="!comp.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="comp.id" readonly />
        </div>
        <div class="form-group col-md-4">
            <label for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="comp.project" [disabled]="comp.project">
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === comp.project?.id ? comp.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.name}}</option>
            </select>
        </div>                
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="comp.name"  />
        </div>
        <div class="form-group col-md-12">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="comp.description"  />
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_component_type">Component Type</label>
            <select class="form-control" name="component_type" id="field_component_type"
                [(ngModel)]="comp.component_type"  >
                <option *ngFor="let cType of ['TD Requirement', 'Change Request', 'Admin Task', 'Other']"
                [ngValue]="cType">{{cType}}</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_status">Status</label>
            <select class="form-control" name="status" id="field_status"
                [(ngModel)]="comp.status" >
                <option *ngFor="let status of ['New', 'In Progress', 'On Hold', 'For Review', 'Reviewed']" [ngValue]="status"
                [selected]="status == 'New'" >{{status}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_budget_at_completion">Budget At Completion</label>
            <input type="number" class="form-control" name="budget_at_completion" id="field_budget_at_completion"
                [(ngModel)]="comp.budget_at_completion"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_baseline_start">Baseline Start</label>
            <div class="input-group">
                <input id="field_baseline_start" type="text" class="form-control" name="baseline_start" ngbDatepicker  #baseline_startDp="ngbDatepicker" [(ngModel)]="comp.baseline_start"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="baseline_startDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_baseline_finish">Baseline Finish</label>
            <div class="input-group">
                <input id="field_baseline_finish" type="text" class="form-control" name="baseline_finish" ngbDatepicker  #baseline_finishDp="ngbDatepicker" [(ngModel)]="comp.baseline_finish"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="baseline_finishDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_actual_cost">Actual Cost</label>
            <input type="number" class="form-control" name="actual_cost" id="field_actual_cost"
                [(ngModel)]="comp.actual_cost"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_actual_start">Actual Start</label>
            <div class="input-group">
                <input id="field_actual_start" type="text" class="form-control" name="actual_start" ngbDatepicker  #actual_startDp="ngbDatepicker" [(ngModel)]="comp.actual_start"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="actual_startDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_actual_finish">Actual Finish</label>
            <div class="input-group">
                <input id="field_actual_finish" type="text" class="form-control" name="actual_finish" ngbDatepicker  #actual_finishDp="ngbDatepicker" [(ngModel)]="comp.actual_finish"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="actual_finishDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_developer">Developer</label>
            <select class="form-control" name="developer" id="field_developer"
                [(ngModel)]="comp.developer" (ngModelChange)="onSelect(comp.developer)" >
                <option *ngFor="let dev of developers" [ngValue]="dev">{{dev}}</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_reviewer">Reviewer</label>
            <select type="text" class="form-control" name="reviewer" id="field_reviewer"
                [(ngModel)]="comp.reviewer"  >
                <option *ngFor="let rev of reviewers" [ngValue]="rev">{{rev}}</option>
            </select>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_created_by">Created By</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                [(ngModel)]="comp.created_by"  [disabled]="true"/>
        </div>
        <div class="form-group col-md-6">
            <label class="form-control-label" for="field_created_date">Created Date</label>
            <div class="input-group">
                <input id="field_created_date" type="text" class="form-control" name="created_date" ngbDatepicker  #created_dateDp="ngbDatepicker" [(ngModel)]="comp.created_date"
                [disabled]="true" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="created_dateDp.toggle()" [hidden]="isEdit"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-5"  [hidden]="!isEdit">
            <label class="form-control-label" for="field_modified_by">Modified By</label>
            <input type="text" class="form-control" name="modified_by" id="field_modified_by"
                [(ngModel)]="comp.modified_by" [disabled]="true" />
        </div>
        <div class="form-group col-md-6"  [hidden]="!isEdit">
            <label class="form-control-label" for="field_modified_date">Modified Date</label>
            <div class="input-group">
                <input id="field_modified_date" type="text" class="form-control" name="modified_date" ngbDatepicker  #modified_dateDp="ngbDatepicker" [(ngModel)]="comp.modified_date"
                [disabled]="true" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="modified_dateDp.toggle()" [hidden]="isEdit"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group" [hidden]="true" style="display:none;">
            <label class="form-control-label" for="field_is_deleted">Is Deleted</label>
            <input type="number" class="form-control" name="is_deleted" id="field_is_deleted"
                [(ngModel)]="comp.is_deleted"  />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
