<div>
    <h2>
        <span>Comps</span>
        <button class="btn btn-primary float-right create-comp" [routerLink]="['/', { outlets: { popup: ['comp-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Comp
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="comps">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="budget_at_completion"><span>Budget At Completion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="baseline_start"><span>Baseline Start</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="baseline_finish"><span>Baseline Finish</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="actual_cost"><span>Actual Cost</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="actual_start"><span>Actual Start</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="actual_finish"><span>Actual Finish</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="developer"><span>Developer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reviewer"><span>Reviewer</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="component_type"><span>Component Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="created_by"><span>Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="created_date"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modified_by"><span>Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modified_date"><span>Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="is_deleted"><span>Is Deleted</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="project.id"><span>Project</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let comp of comps ;trackBy: trackId">
                <td><a [routerLink]="['../comp', comp.id ]">{{comp.id}}</a></td>
                <td>{{comp.name}}</td>
                <td>{{comp.description}}</td>
                <td>{{comp.budget_at_completion}}</td>
                <td>{{comp.baseline_start | date:'mediumDate'}}</td>
                <td>{{comp.baseline_finish | date:'mediumDate'}}</td>
                <td>{{comp.actual_cost}}</td>
                <td>{{comp.actual_start | date:'mediumDate'}}</td>
                <td>{{comp.actual_finish | date:'mediumDate'}}</td>
                <td>{{comp.developer}}</td>
                <td>{{comp.reviewer}}</td>
                <td>{{comp.component_type}}</td>
                <td>{{comp.status}}</td>
                <td>{{comp.created_by}}</td>
                <td>{{comp.created_date | date:'mediumDate'}}</td>
                <td>{{comp.modified_by}}</td>
                <td>{{comp.modified_date | date:'mediumDate'}}</td>
                <td>{{comp.is_deleted}}</td>
                <td>
                    <div *ngIf="comp.project">
                        <a [routerLink]="['../project', comp.project?.id ]" >{{comp.project?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../comp', comp.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comp/'+ comp.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comp/'+ comp.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
