
<div *ngIf="comp">
    <h2><span>Component:</span> {{comp.name}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="container-fluid">
        <button type="submit"
            [routerLink]="['../../project',comp.project.id]"
            class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
        </button>
        <button type="submit"
            [routerLink]="['/', { outlets: { popup: 'comp/'+ comp.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
        </button>
        <button class="btn btn-primary col-2" [routerLink]="['/', { outlets: { popup: ['unit-test-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Test
            </span>
        </button>
        <button class="btn btn-primary col-2" [routerLink]="['/', { outlets: { popup: ['pointsheet-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Review Point
            </span>
        </button>
        <button class="btn btn-primary col-2" [routerLink]="['/', { outlets: { popup: ['clarification-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Clarification
            </span>
        </button>
    </div>
    <hr>
    <dl class="row-md jh-entity-details" style="columns:3">
        <dt><span>Project</span></dt>
        <dd>
            <div *ngIf="comp.project">
                <a [routerLink]="['/project', comp.project?.id]">{{comp.project.name}}</a>
            </div>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{comp.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{comp.description}}</span>
        </dd>
        <dt><span>Budget At Completion</span></dt>
        <dd>
            <span>{{comp.budget_at_completion}}</span>
        </dd>
        <dt><span>Baseline Start</span></dt>
        <dd>
            <span>{{comp.baseline_start | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Baseline Finish</span></dt>
        <dd>
            <span>{{comp.baseline_finish | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Actual Cost</span></dt>
        <dd>
            <span>{{comp.actual_cost}}</span>
        </dd>
        <dt><span>Actual Start</span></dt>
        <dd>
            <span>{{comp.actual_start | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Actual Finish</span></dt>
        <dd>
            <span>{{comp.actual_finish | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Developer</span></dt>
        <dd>
            <span>{{comp.developer}}</span>
        </dd>
        <dt><span>Reviewer</span></dt>
        <dd>
            <span>{{comp.reviewer}}</span>
        </dd>
        <dt><span>Component Type</span></dt>
        <dd>
            <span>{{comp.component_type}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{comp.status}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{comp.created_by}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{comp.created_date | date:'mediumDate'}}</span>
        </dd>
        <dt *ngIf="comp.modified_by !== null"><span>Last Modified By</span></dt>
        <dd *ngIf="comp.modified_by !== null">
            <span>{{comp.modified_by}}</span>
        </dd>
        <dt *ngIf="comp.modified_by !== null"><span>Last Modified Date</span></dt>
        <dd *ngIf="comp.modified_by !== null">
            <span>{{comp.modified_date | date:'mediumDate'}}</span>
        </dd>
    </dl>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>Test Scenarios</b></h3></span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
				        <th class="text-center">&nbsp;</th>
                        <th class="text-center">ID</th>
                        <th class="text-center">Scenario ID</th>
                        <th class="text-center">Condition ID</th>
				        <th class="text-center">Test Scenario</th>
				        <th class="text-center">Test Condition</th>
				        <th class="text-center">Actions</th>
				        <th class="text-center">Input Data</th>
                        <th class="text-center">Expected Result</th>
                        <th class="text-center">Status</th>
				        <th class="text-center">Execution Date</th>
				        <th class="text-center">Evidences</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let test of comp.unitTests | orderBy: 'created_date'" [hidden]="test.is_deleted == 1">
                        <td class="btn-group">
                            <button type="submit"
                            [routerLink]="['../../unit-test', test.id]"
                            replaceUrl="true"
                            class="btn btn-info btn-sm">
                            <span class="fa fa-info"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'unit-test/'+ test.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'unit-test/'+ test.id + '/delete'} }]"
                            replaceUrl="true"
                            class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            </button>
                        </td>
                        <td>{{test.id}}</td>
                        <td>{{test.scenario_id}}</td>
                        <td>{{test.condition_id}}</td>
                        <td>{{test.test_scenario}}</td>
                        <td>{{test.test_condition}}</td>
                        <td>{{test.actions}}</td>
                        <td>{{test.input_data}}</td>
                        <td>{{test.expected_result}}</td>
                        <td>{{test.execution_status}}</td>
                        <td>{{test.execution_date | date:'yyyy/MM/dd'}}</td>
                        <td>{{test.evidences}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>Clarifications</b></h3></span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
				        <th class="text-center">&nbsp;</th>
                        <th class="text-center">ID</th>
                        <th class="text-center">CL Date</th>
                        <th class="text-center">Status</th>
				        <th class="text-center">Classification</th>
				        <th class="text-center">Assigned To</th>
				        <th class="text-center">Description</th>
				        <th class="text-center">Resolution</th>
                        <th class="text-center">Remarks</th>
                        <th class="text-center">Date Closed</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of comp.clarifications | orderBy: 'created_date'" [hidden]="c.is_deleted == 1">
                        <td class="btn-group">
                            <button type="submit"
                            [routerLink]="['../../clarification', c.id]"
                            replaceUrl="true"
                            class="btn btn-info btn-sm">
                            <span class="fa fa-info"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'clarification/'+ c.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'clarification/'+ c.id + '/delete'} }]"
                            replaceUrl="true"
                            class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            </button>
                        </td>
                        <td>{{c.id}}</td>
                        <td>{{c.cl_date | date:'yyyy/MM/dd'}}</td>
                        <td>{{c.status}}</td>
                        <td>{{c.classification}}</td>
                        <td>{{c.assigned_to}}</td>
                        <td>{{c.description}}</td>
                        <td>{{c.resolution}}</td>
                        <td>{{c.remarks}}</td>
                        <td>{{c.date_closed | date:'yyyy/MM/dd'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>Review Points</b></h3></span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
				        <th class="text-center">&nbsp;</th>
                        <th class="text-center">ID</th>
                        <th class="text-center">Pointsheet Type</th>
                        <th class="text-center">Inspection Point</th>
				        <th class="text-center">Defect Type</th>
				        <th class="text-center">Severity</th>
				        <th class="text-center">Actions Taken</th>
				        <th class="text-center">Status</th>
                        <th class="text-center">Possible Root Cause</th>
                        <th class="text-center">Suggestion for Avoidance</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pointsheet of comp.pointsheets | orderBy: 'created_date'" [hidden]="pointsheet.is_deleted == 1">
                        <td class="btn-group">
                            <button type="submit"
                            [routerLink]="['../../pointsheet', pointsheet.id]"
                            replaceUrl="true"
                            class="btn btn-info btn-sm">
                            <span class="fa fa-info"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'pointsheet/'+ pointsheet.id + '/edit'} }]"
                            replaceUrl="true"
                            class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            </button>
                            <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'pointsheet/'+ pointsheet.id + '/delete'} }]"
                            replaceUrl="true"
                            class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            </button>
                        </td>
                        <td>{{pointsheet.id}}</td>
                        <td>{{pointsheet.pointsheet_type}}</td>
                        <td>{{pointsheet.inspection_point}}</td>
                        <td>{{pointsheet.defect_type}}</td>
                        <td>{{pointsheet.severity}}</td>
                        <td>{{pointsheet.action_taken}}</td>
                        <td>{{pointsheet.status}}</td>
                        <td>{{pointsheet.possible_root_cause}}</td>
                        <td>{{pointsheet.suggestion_for_avoidance}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>Project History</b></h3></span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center">Seq ID</th>
                        <th class="text-center">Log Date</th>
                        <th class="text-center">Log Type</th>
                        <th class="text-center">Record ID</th>
				        <th class="text-center">Action</th>
				        <th class="text-center">Created By</th>
				        <th class="text-center">Description</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let logEntry of history | orderBy: 'created_date'; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{logEntry.created_date | date:'yyyy/MM/dd'}}</td>
                        <td>{{logEntry.log_type}}</td>
                        <td>{{logEntry.record_id}}</td>
                        <td>{{logEntry.action}}</td>
                        <td>{{logEntry.created_by}}</td>
                        <td>{{logEntry.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
