
<div *ngIf="pointsheet">
    <h2><span>Review Point</span> {{pointsheet.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <button type="submit"
            [routerLink]="['../../project',pointsheet.project.id]"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'pointsheet/'+ pointsheet.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
    <hr>
    <dl class="row-md jh-entity-details" style="columns:2">
        <dt><span>Project</span></dt>
        <dd>
            <div *ngIf="pointsheet.project">
                <a [routerLink]="['/project', pointsheet.project?.id]">{{pointsheet.project?.name}}</a>
            </div>
        </dd>
        <dt><span>Component</span></dt>
        <dd>
            <div *ngIf="pointsheet.comp">
                <a [routerLink]="['/comp', pointsheet.comp?.id]">{{pointsheet.comp?.name}}</a>
            </div>
        </dd>
        <dt><span>Pointsheet Type</span></dt>
        <dd>
            <span>{{pointsheet.pointsheet_type}}</span>
        </dd>
        <dt><span>Inspection Point</span></dt>
        <dd>
            <span>{{pointsheet.inspection_point}}</span>
        </dd>
        <dt><span>Subprocess Defect Origin</span></dt>
        <dd>
            <span>{{pointsheet.subprocess_defect_origin}}</span>
        </dd>
        <dt><span>Defect Type</span></dt>
        <dd>
            <span>{{pointsheet.defect_type}}</span>
        </dd>
        <dt><span>Severity</span></dt>
        <dd>
            <span>{{pointsheet.severity}}</span>
        </dd>
        <dt><span>Action Taken</span></dt>
        <dd>
            <span>{{pointsheet.action_taken}}</span>
        </dd>
        <dt><span>Completion Date</span></dt>
        <dd>
            <span>{{pointsheet.completion_date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Reopen Date</span></dt>
        <dd>
            <span>{{pointsheet.reopen_date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{pointsheet.status}}</span>
        </dd>
        <dt><span>Possible Root Cause</span></dt>
        <dd>
            <span>{{pointsheet.possible_root_cause}}</span>
        </dd>
        <dt><span>Suggestion For Avoidance</span></dt>
        <dd>
            <span>{{pointsheet.suggestion_for_avoidance}}</span>
        </dd>
        <dt><span>Created By</span></dt>
        <dd>
            <span>{{pointsheet.created_by}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{pointsheet.created_date | date:'mediumDate'}}</span>
        </dd>
        <dt *ngIf="pointsheet.modified_by !== null"><span>Modified By</span></dt>
        <dd *ngIf="pointsheet.modified_by !== null">
            <span>{{pointsheet.modified_by}}</span>
        </dd>
        <dt *ngIf="pointsheet.modified_by !== null"><span>Modified Date</span></dt>
        <dd *ngIf="pointsheet.modified_by !== null">
            <span>{{pointsheet.modified_date | date:'mediumDate'}}</span>
        </dd>
    </dl>
    <hr>
    <div class="container-fluid">
        <span class="pull-left"><h3><b>History</b></h3></span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center">Seq ID</th>
                        <th class="text-center">Log Date</th>
                        <th class="text-center">Log Type</th>
                        <th class="text-center">Record ID</th>
				        <th class="text-center">Action</th>
				        <th class="text-center">Created By</th>
				        <th class="text-center">Description</th>
				    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let logEntry of history | orderBy: 'created_date'; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{logEntry.created_date | date:'yyyy/MM/dd'}}</td>
                        <td>{{logEntry.log_type}}</td>
                        <td>{{logEntry.record_id}}</td>
                        <td>{{logEntry.action}}</td>
                        <td>{{logEntry.created_by}}</td>
                        <td>{{logEntry.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
