<div>
    <h2>
        <span>Pointsheets</span>
        <button class="btn btn-primary float-right create-pointsheet" [routerLink]="['/', { outlets: { popup: ['pointsheet-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Pointsheet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="pointsheets">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pointsheet_type"><span>Pointsheet Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="inspection_point"><span>Inspection Point</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="subprocess_defect_origin"><span>Subprocess Defect Origin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="defect_type"><span>Defect Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="severity"><span>Severity</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="action_taken"><span>Action Taken</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="completion_date"><span>Completion Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reopen_date"><span>Reopen Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span>Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="possible_root_cause"><span>Possible Root Cause</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="suggestion_for_avoidance"><span>Suggestion For Avoidance</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="created_by"><span>Created By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="created_date"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modified_by"><span>Modified By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="modified_date"><span>Modified Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="project.id"><span>Project</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="comp.id"><span>Comp</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let pointsheet of pointsheets ;trackBy: trackId">
                <td><a [routerLink]="['../pointsheet', pointsheet.id ]">{{pointsheet.id}}</a></td>
                <td>{{pointsheet.pointsheet_type}}</td>
                <td>{{pointsheet.inspection_point}}</td>
                <td>{{pointsheet.subprocess_defect_origin}}</td>
                <td>{{pointsheet.defect_type}}</td>
                <td>{{pointsheet.severity}}</td>
                <td>{{pointsheet.action_taken}}</td>
                <td>{{pointsheet.completion_date | date:'mediumDate'}}</td>
                <td>{{pointsheet.reopen_date | date:'mediumDate'}}</td>
                <td>{{pointsheet.status}}</td>
                <td>{{pointsheet.possible_root_cause}}</td>
                <td>{{pointsheet.suggestion_for_avoidance}}</td>
                <td>{{pointsheet.created_by}}</td>
                <td>{{pointsheet.created_date | date:'mediumDate'}}</td>
                <td>{{pointsheet.modified_by}}</td>
                <td>{{pointsheet.modified_date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="pointsheet.project">
                        <a [routerLink]="['../project', pointsheet.project?.id ]" >{{pointsheet.project?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="pointsheet.comp">
                        <a [routerLink]="['../comp', pointsheet.comp?.id ]" >{{pointsheet.comp?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pointsheet', pointsheet.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pointsheet/'+ pointsheet.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pointsheet/'+ pointsheet.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
