<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPointsheetLabel">Review Point</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="true">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="pointsheet.id" readonly />
        </div>
        <div class="form-group col-md-3">
            <label for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" [(ngModel)]="pointsheet.project" [disabled]="pointsheet.project" >
                <option [ngValue]="null"></option>
                <option [ngValue]="projectOption.id === pointsheet.project?.id ? pointsheet.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="field_comp">Component</label>
            <select class="form-control" id="field_comp" name="comp" [(ngModel)]="pointsheet.comp" [disabled]="isEdit">
                <option [ngValue]="null"></option>
                <option [ngValue]="compOption.id === pointsheet.comp?.id ? pointsheet.comp : compOption" *ngFor="let compOption of projComps">{{compOption.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="field_pointsheet_type">Review Point Type</label>
            <select class="form-control" styke="width:80%;" name="pointsheet_type" id="field_pointsheet_type"
                [(ngModel)]="pointsheet.pointsheet_type"  >
                <option *ngFor="let type of ['Code', 'UTE']" [ngValue]="type"
                [selected]="type == 'Code'">{{type}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label class="form-control-label" for="field_status">Status</label>
            <select class="form-control" style="width:138px;" name="status" id="field_status"
                [(ngModel)]="pointsheet.status"  >
                <option *ngFor="let status of ['New', 'Completed', 'Rejected', 'Re-Opened', 'Closed']"
                [ngValue]="status" [selected]="status == 'New'">{{status}}</option>
            </select>
        </div>
        <div class="form-group col-md-12">
            <label class="form-control-label" for="field_inspection_point">Inspection Point</label>
            <textarea rows="5" cols="10" class="form-control" name="inspection_point" id="field_inspection_point"
                [(ngModel)]="pointsheet.inspection_point" ></textarea>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_subprocess_defect_origin">Subprocess Defect Origin</label>
            <input [disabled]="true" type="text" class="form-control" name="subprocess_defect_origin" id="field_subprocess_defect_origin"
                [(ngModel)]="pointsheet.subprocess_defect_origin" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_defect_type">Defect Type</label>
            <select class="form-control" name="defect_type" id="field_defect_type"
                [(ngModel)]="pointsheet.defect_type"  >
                <option *ngFor="let defectType of defects" [ngValue]="defectType" [selected]="defectType == 'Not a Defect'">
                    {{defectType}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_severity">Severity</label>
            <select class="form-control" name="severity" id="field_severity"
                [(ngModel)]="pointsheet.severity"  >
                <option *ngFor="let sev of ['Minor', 'Major']" [ngValue]="sev" [selected]="sev == 'Minor'">{{sev}}</option>
            </select>
        </div>
        <div class="form-group col-md-12">
            <label class="form-control-label" for="field_action_taken">Action Taken</label>
            <textarea rows="5" cols="10" class="form-control" name="action_taken" id="field_action_taken"
                [(ngModel)]="pointsheet.action_taken"  ></textarea>
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="field_completion_date">Completion Date</label>
            <div class="input-group">
                <input id="field_completion_date" type="text" class="form-control" name="completion_date" ngbDatepicker  #completion_dateDp="ngbDatepicker" [(ngModel)]="pointsheet.completion_date"
                [disabled]="isEdit"/>
                <span class="input-group-btn" [hidden]="isEdit">
                    <button type="button" class="btn btn-default" (click)="completion_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label class="form-control-label" for="field_reopen_date">Reopen Date</label>
            <div class="input-group">
                <input id="field_reopen_date" type="text" class="form-control" name="reopen_date" ngbDatepicker  #reopen_dateDp="ngbDatepicker" [(ngModel)]="pointsheet.reopen_date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="reopen_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_possible_root_cause">Possible Root Cause</label>
            <select class="form-control" name="possible_root_cause" id="field_possible_root_cause"
                [(ngModel)]="pointsheet.possible_root_cause"  >
                <option *ngFor="let prc of prcs" [ngValue]="prc" [selected]="prc == 'Transcription'">{{prc}}</option>
            </select>
        </div>
        <div class="form-group col-md-12">
            <label class="form-control-label" for="field_suggestion_for_avoidance">Suggestion For Avoidance</label>
            <textarea rows="5" cols="10" class="form-control" name="suggestion_for_avoidance" id="field_suggestion_for_avoidance"
                [(ngModel)]="pointsheet.suggestion_for_avoidance"  ></textarea>
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_created_by">Created By</label>
            <input type="text" class="form-control" name="created_by" id="field_created_by"
                [(ngModel)]="pointsheet.created_by" [disabled]="true" />
        </div>
        <div class="form-group col-md-5">
            <label class="form-control-label" for="field_created_date">Created Date</label>
            <div class="input-group">
                <input id="field_created_date" type="text" class="form-control" name="created_date" ngbDatepicker  #created_dateDp="ngbDatepicker" [(ngModel)]="pointsheet.created_date"
                [disabled]="true"/>
                <span class="input-group-btn" [hidden]="true">
                    <button type="button" class="btn btn-default" (click)="created_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group col-md-5" [hidden]="!isEdit">
            <label class="form-control-label" for="field_modified_by">Modified By</label>
            <input type="text" class="form-control" name="modified_by" id="field_modified_by"
                [(ngModel)]="pointsheet.modified_by" [disabled]="true" />
        </div>
        <div class="form-group col-md-5" [hidden]="!isEdit">
            <label class="form-control-label" for="field_modified_date">Modified Date</label>
            <div class="input-group">
                <input id="field_modified_date" type="text" class="form-control" name="modified_date" ngbDatepicker  #modified_dateDp="ngbDatepicker" [(ngModel)]="pointsheet.modified_date"
                [disabled]="true" />
                <span class="input-group-btn" [hidden]="true">
                    <button type="button" class="btn btn-default" (click)="modified_dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
